@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
@font-face {
    font-family: 'atari';
    src: url('../atari-classic-font/AtariClassic-gry3.ttf')
}
@font-face {
    font-family: 'atari-text';
    src: url('../atari-classic-font/AtariClassicExtrasmooth-LxZy.ttf');
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}



header{
    display: flex;
    justify-content: center;
    background-color: #5CE1E6;
    
    
}

header div{
    padding: 30px 0;
    /* margin-right: 60px; */
    font-size: 20px;
    font-family: atari;
    
}

header div a{
    text-decoration: none;
    color: #f8f8ff ;
}
.repositoryLink{
    padding-left: 60px;
    padding-right: 60px;
}



.nav-bar {
    background-color: #343A40;
    padding-top: 10px;
    padding-bottom: 30px;
}


.nav-bar h1{ 
    text-align: center;
    font-family: 'Games', sans-serif;
    color:  #f8f8ff;
    font-size: 50px;
    padding-left: 60px;
    
    
}
.nav-bar div{
    margin-bottom: 20px;
}




.container{
    background-color: #343A40;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    
}


canvas{
    padding-bottom: 50px;
}

#start-button { 
    /* border:  1px solid white; */
    width: 259px;
    height: 143px;
    top: 190px;
    position: absolute;
    
}

.startScreen{
    width: 700px;
    height: 500px;
    padding-bottom: 50px;
    

}


.displayNone{
    display: none;
    
}

.about{
 background-color: #5CE1E6;
 color: #f8f8ff;
 padding-bottom: 40px;
}

.aboutText{
    padding: 40px 80px;
}
.about h2 {
  font-family: atari;
  margin-bottom: 25px;
  font-size: 30px;
  
}

.about p {
    font-family: atari-text;
    font-size: 15px;
}

footer{
    background-color:#343A40 ;
    
}
.socialMedia h4 {
    color: #f8f8ff;
    font-family: atari;
}
.socialMedia{
    text-align: center;
    padding: 60px 0;

}
.socialMedia img {
    margin-top:  20px;
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

