@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
#start-button { 
    border: 1px solid red;
    width: 188px;
    height: 123px;
    top: 190px;
    left: 200px;
    position: absolute;
}

.startScreen{
    width: 500px;
    height: 400px;

}

.displayNone{
    display: none;
    
}



